@import "../../assets/style/base.scss";
  
  .slideshow {
    position: relative;
    margin: 50px 0px 30px 0px;
    height: 255px;
    width: $W-100;

    @include desktop {
      height : 415px;
      max-width: $max-W1440;
    }

    @include largeDesktop {
      height : 415px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
  }

    .slideshow::before {
      content: "";
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
      position: absolute;
      width: $W-100;
      height: $H-100;
      border-radius: 20px;
    }

    .slideshowPicture {
    width: $W-100;
    height: 255px;
    object-fit: cover;
    z-index: 1;
    border-radius: 20px;

    @include desktop {
      width: $W-100;
      height: 415px;
    }

    @include largeDesktop {
      width: $W-100;
      height: 415px;
    }
  
  }
  
  .slideshowArrow {
    position: absolute;
    bottom: 50%;
    transform: translatey(50%);
    z-index: 3;
    cursor: pointer;
    width: 24px;
    height: 24px;

    @include tablet  {
      width: 96px;
      height: 96px;
    }

    @include desktop {
      width: 96px;
      height: 96px;
    }

    @include largeDesktop {
      width: 96px;
      height: 96px;
    }
  }
  
  .slideshowArrowRight {
    right: 20px;
  }
  
  .slideshowArrowLeft {
    left: 20px;
  }
  
  .slideshowCounter {
    position: absolute;
    bottom: 20px;
    right: 50%;
    color : $third-color;
    font-size: 18px;
    font-weight: $Font-W500;
    letter-spacing: -2px;
  
    @include phone {
       display: none;
    }
  }