.star {
    display: $displayFlex;
    flex-direction: $flexDirectionRow;
    flex-wrap: $flexWrapNoWrap;
    width: 98px;
    height: 18px;

    @include tablet {
        width: 196px;
        height: 36px;
    }

    @include desktop {
        width: 196px;
        height: 36px;
    }

    @include largeDesktop {
        width: 196px;
        height: 36px;
    }

}