@import "../style/layout.scss";

.about-section {
    margin-top: 38px;
    border-radius: 10px;
    gap: 76px;

    @include phone {
        margin : $margin0-20px;
    }
}

.discoverer-section {
    display: $displayFlex;
    flex-direction: $flexDirectionColumn;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;

    @include phone {
        gap: 20px;
    }
}



