//-----------------------------
// CSS code for About page    /
//-----------------------------
@import "layout";



.about-section {
    margin-top: 38px;
    border-radius: 10px;
    gap: 76px;
    margin : $margin0-20px;
    width: 100%;
    max-width: $max-W1024;

    @include desktop {
        margin-top: 30px;
    }
}





