@import "../style/layout.scss";

.about-section {
    margin: $margin0-100px;
    margin-top: 38px;
    display: $displayFlex;
    align-items: $alignContentStart;
    border-radius: 10px;
    gap: 76px;
    justify-content: $alignContentCenter;
    padding: 0;
    position: relative;

    @include phone {
        margin : $margin0-20px;
    }
}

.discoverer-section {
    display: $displayFlex;
    flex-direction: $flexDirectionColumn;
    gap: 30px;
    justify-content: $alignContentCenter;
    width: 80%;

    @include phone {
        gap: 20px;
    }
}



