@import "layout.scss";
@import "vendor.scss";
@import "animations.scss";


body {
    margin:0 100px;
    font-family: $font-family;
    box-sizing: border-box;
}

//-----------------------------
// List                       /
//-----------------------------

ul {
    list-style-type: none;
    padding-left: 0px;
  }

  a {
    font-weight: 500;
    color: $primary-color;
    text-decoration: inherit;
  }



//-----------------------------
// Footer                     /
//-----------------------------

footer {
    display: $displayFlex;
    flex-direction: $flexDirectionColumn;
    align-items: $alignItemsCenter;
    gap: 28px;
    margin-top: 50px;
    background-color: $secondary-color;
    width: 100%;
    margin: auto;


    img {
        width: 122px;
        height: 39px;
        margin-top: 56px;
    }
}

.footer--p {
    color : $third-color;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 34.224px */
    margin-bottom: 29px;
}
