@import "layout.scss";
@import "vendor.scss";
@import "animations.scss";


body {
    font-family: $font-family;
    box-sizing: border-box;
}

//-----------------------------
// List                       /
//-----------------------------

ul {
    list-style-type: none;
    padding-left: 0px;
  }

  a {
    font-weight: 500;
    color: $primary-color;
    text-decoration: inherit;
  }


