@import "../../assets/style/layout.scss";
//-----------------------------
// Homepage
//-----------------------------

//-----------------------------
// Cards Gallery on Homepage
//-----------------------------

.property-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #F6F6F6;
    border-radius: 25px;
    padding-top: 56px;
    padding-bottom: 43px;
    margin: 40px 100px 0px 100px;

    @include phone {
        background-color: transparent;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin: $margin0-20px;
       }
}

.property-listing {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 40px;
    grid-template-columns: repeat(3, 340px);
    grid-auto-rows: 340px;

    @include phone {
        grid-template-columns: repeat(1, 335px);
        grid-auto-rows: 255px;
    }

    @include tablet {
        grid-template-columns: repeat(2, 340px);
        grid-auto-rows: 340px;
    }

    @include largeDesktop {
        grid-template-columns: repeat(4, 340px);
        grid-auto-rows: 340px;
    }
}




//-----------------------------
// PropertyDetails
//-----------------------------


