@import "variables";

.main-container {
    margin: 0px auto;

    @include phone {
        margin: $margin0-20px;

        .property-titleandlocation {
            order:1;
        }
        .property-notes {
            order:2;
        }

        .property-tags {
            order:3;
        }

        .property-ownerdetails {
            order:4;
        }
    }
}

.property-titleandlocation {
    display: flex;
    flex-direction: column;
    color : $primary-color;
}

.property-title {
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 51.336px */

    @include phone {
        font-size: 18px;
    }
}

.property-location {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 25.668px */
}

.property-ownerdetails {
    display: flex;
    flex-direction: row;
    color : $primary-color;
    align-items: center;

    &__name {
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 25.668px */
    margin-right: 10px;
    max-width: 93px;
    height: 52px;

    }

    &__profilpic {
        border-radius : 50%;
        object-fit: cover;
        width: 64px;
        height: 64px;
        flex-shrink: 0;
    }
}

.details-container {
    display: flex;
    flex-direction: row;
    justify-content : space-between;
    margin: $margin0-100px;
}

.property-notes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    margin: $margin0-100px;

    &--tags {
    color: $third-color;
    display: flex;
    flex-direction: row;
    gap: 10px;

    }

    .tag {
        display: flex;
        align-items: center;
        background-color: $primary-color;
        text-align: center;
        padding : 3px 37px 2px 37px;
        border-radius: 25px;
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 142.6%; /* 19.964px */
    }

}

.discoverer-container {
    display: flex;
    justify-content: space-between;
    margin: $margin0-100px;
    margin-top: 50px;
    gap : 96px;

    @include largeDesktop {
        flex-direction: column;
    }

    @include phone {
        gap : 20px;
    }

    .discoverer {
        width: 50%;

        @include largeDesktop {
            width: 100%;
        }
    }

}

.star {
    display: $displayFlex;
    flex-direction: $flexDirectionRow;
    flex-wrap: nowrap;
    width: 196px;
    height: 36px;

    @include phone {
            width: 98px;
            height: 18px;

    }
}

