@import "base";

.main-container {
    display: $displayFlex;
    flex-direction: $flexDirectionColumn;
    align-items: $alignItemsCenter;
    justify-content: $alignContentCenter;
    width: $W-100;
    margin: $margin0auto;
    max-width: $max-W1240 ;
}


.property-titleandlocation {
    display: $displayFlex;
    flex-direction: $flexDirectionColumn;
    color : $primary-color;
    flex-wrap: $flexWrapNoWrap;
    order : 0;

    h1 {
        color : $primary-color;  
    }

    @include desktop {
        width: $W-49;
        order : 0;
    }

    @include largeDesktop {
        width: $W-49;
        order : 0
        }
}

.property-title {
    font-size: 18px;
    font-style: normal;
    font-weight: $Font-W500;
    font-family: Montserrat;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

    @include desktop {
        font-size: 36px;
        line-height: 51px;
    }

    @include largeDesktop {
        font-size: 36px;
        line-height: 51px;
    }
}

.property-location {
    font-size: 14px;
    font-style: normal;
    font-weight: $Font-W500;
    line-height: 26px;

    @include desktop  {
        font-size: 18px;
    }

    @include largeDesktop {
        font-size: 18px;
    }
}

.property-ownerdetails {
    display: $displayFlex;
    justify-content: $alignContentSpaceBetween;
    flex-direction: $flexDirectionRowReverse;
    align-items: $alignItemsCenter;
    color : $primary-color;
    order: 1;
    width: $W-100;

    @include tablet {
        justify-content: $alignContentSpaceBetween;
    }

    @include desktop {
        flex-direction: $flexDirectionColumn;
        align-items: $alignItemsEnd;
        width: $W-49;
        order : 1;
    }

    @include largeDesktop {
        flex-direction: $flexDirectionColumn;
        align-items: $alignItemsEnd;
        width: $W-49;
        order : 1
    }

    &__name {
        width: $W-50;
        display: $displayFlex;
    align-items: $alignItemsCenter;
    text-align: right;
    font-size: 12px;
    font-style: normal;
    font-weight: $Font-W500;
    line-height: 17px;
    margin-right: 10px;
    max-width: 93px;
    height: 52px;
    letter-spacing: 0em;
    text-align: right;

    @include tablet {
        font-size: 16px;
        line-height: 18px;
    }

    @include desktop {
        font-size: 18px;
        line-height: 26px;
    }

    @include largeDesktop{
        font-size: 18px;
        line-height: 26px;
    }

    }

    &__profilpic {
        border-radius : 50%;
        object-fit: cover;
        width: 32px;
        height: 32px;
        flex-shrink: 0;

        @include desktop {
            width: 64px;
            height: 64px;

        }

        @include largeDesktop {
            width: 64px;
            height : 64px;
        }
    }

    &__profilpic:hover {
@include largeDesktop {
    scale : 1.5;
}
    }
}

#details-container {
    max-width: $max-W1240;
    display: $displayFlex;
    flex-wrap: $flexWrapWrap;
    gap: 5px;
    width: $W-100;
}

.property-ownerdetailsandnotation {
    display : $displayFlex; 
    align-items: $alignItemsCenter;
    justify-content: $alignContentEnd;

    @include desktop {
        flex-direction: $flexDirectionRow;
    }

    @include largeDesktop {
        flex-direction: $flexDirectionRow;
    }
    

    @include desktop {
        display: $displayFlex;
        align-items: $alignItemsCenter;
    }


}

.property-tags {
    display: $displayFlex;
    flex-direction: $flexDirectionRow;
    justify-content: $alignContentSpaceBetween;
    flex-wrap: $flexWrapWrap;
    margin-top: 20px;
    width: $W-100;

    @include desktop {
    order : 3;
    }

    @include largeDesktop {
    order : 3
    }


    &--tags {
    color: $third-color;
    display: $displayFlex;
    flex-direction: $flexDirectionRow;
    gap: 10px;

    }

    .tag {
        display: $displayFlex;
        align-items: $alignItemsCenter;
        background-color: $primary-color;
        text-align: center;
        border-radius: 10px;
        color: #FFF;
        font-size: 10px;
        font-style: normal;
        font-weight: $Font-W500;
        line-height: 14px;
        padding: 5px 10px;
        height: 18px;

        p {
            padding : 5px 10px;
            margin: 0 auto;

            @include tablet {
                padding: 3px 30px 2px;
            }

            @include desktop {
                padding: 3px 30px 2px;
            }

            @include largeDesktop {
                padding: 3px 30px 2px;
            }
        }

        @include tablet {
            font-size: 14px;
            line-height: 20px;
            padding: 3px 30px 2px;
            height: 25px;
        }

        @include desktop {
            font-size: 14px;
            line-height: 20px;
            padding: 3px 30px 2px;
            height: 25px;
            
        }

        @include largeDesktop {
            font-size: 14px;
            line-height: 20px;
            padding: 3px 30px 2px;
            height: 25px;
        }
    }

}

.discoverer-container {
    display: $displayFlex;
    justify-content: $alignContentSpaceBetween;
    align-items: $alignItemsCenter;
    flex-direction: $flexDirectionColumn;
    margin-top: 50px;
    gap : 96px;
    width: $W-100;
    max-width: $max-W1240;
    margin: $margin0auto;
    gap: 20px;
    order : 4;
    margin-top: 20px;

    @include tablet {

    }

    
    @include desktop {
        flex-direction: $flexDirectionRow;
        align-items: $aligneItemsBaseline;
        margin-top: 50px;
        gap : 20px;
    }

    @include largeDesktop {
        flex-direction: $flexDirectionRow;
        align-items: $aligneItemsBaseline ;
        margin-top: 50px;
        gap : 20px;
    }

    .discoverer {
        width: $W-100;

        @include tablet {

        }

        @include desktop {
            width: $W-100;
        }

        @include largeDesktop {
            width: $W-100;
        }

    }

}


