
//-----------------------------
// Color                      /
//-----------------------------
$primary-color : #FF6060;
$secondary-color : #000;
$third-color : #FFFFFF;


h1 {
    z-index: 1;
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 68.448px */
    
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    box-sizing: border-box;
}

.root {
    max-width: 1900px;
    width: 100%;
}