@import "./media-queries.scss";
//-----------------------------
// Color                      /
//-----------------------------
$primary-color : #FF6060;
$secondary-color : #000;
$third-color : #FFFFFF;


h1 {
    z-index: 1;
    color: $third-color;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 68px;
    margin: 0;
    padding: 0;

    @include phone {
        font-size : 24px;
        padding: 0;
    }
    
}

body {
    box-sizing: border-box;
}

.root {
    width: 100%;
}