@import '../../assets/style/base.scss';
/* -----------------------------
// 404 error page
----------------------------- */

.errorpage {
    text-align: center;
    color : $primary-color;
    margin-top: 113px;

    @include tablet {
        margin-top: 139px;
    }

    @include desktop {
        margin-top: 139px;
    }

    @include largeDesktop {
        margin-top: 139px;
    }

    &--span {
    font-size: 96px;
    font-style: normal;
    font-weight: $Font-W700 ;
    line-height: 137px;

    @include desktop {
        margin-top: 139px;
        font-size: 288px;
        font-style: normal;
        font-weight: $Font-W700 ;
        line-height: 410px;
    }

    @include largeDesktop {
        margin-top: 139px;
        font-size: 288px;
        font-style: normal;
        font-weight: $Font-W700 ;
        line-height: 410px;
    }
    }

    &--info {
    font-size: 18px;
    font-style: normal;
    font-weight: $Font-W500;
    line-height: 25px;

    @include tablet {
        font-size: 36px;
        line-height: 51px;
    }

    @include desktop {
        font-size: 36px;
        line-height: 51px;
    }

    @include largeDesktop {
        font-size: 36px;
        line-height: 51px;
    }

    }

    &--backtohome {
    margin: 139px 0px;
    font-size: 14px;
    font-style: normal;
    font-weight: $Font-W500;
    line-height: 19px;
    text-decoration-line: underline;

    @include tablet {
        font-size: 18px;
        line-height: 26px;
    }

    @include desktop {
        font-size: 18px;
        line-height: 26px;
    }

    @include largeDesktop {
        font-size: 18px;
        line-height: 26px;
    }

    }
}