@import "../../assets/style/variables.scss";

.discoverer {
  cursor: pointer;
  text-align: right;
  border: none;
  outline: none;
  transition: 0.4s;
  position: relative;
  z-index: 2;

  @include phone {
    margin : 20px 0px 20px;
  }

  
  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    height: 52px;
    background-color: #f0f0f0;
    background: var(--Red, $primary-color);
    color : $third-color;
    border-radius: 10px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    width: 100%;
    position: relative;
    z-index: 2;

    @include phone {
      height: 30px;
      font-size: 13px;
    }

    img {
      cursor: pointer;
    }

  }

    h3 {
      padding-left: 15px;
    }
  
  &--content {
    cursor: default;
    border-radius: 0 0 10px 10px;
    color: $primary-color;
    font-size: 24px;
    font-weight: 400;
    line-height: 25px;
    overflow: hidden;
    padding: 20px;
    position: relative;
    transition: max-height 0.5s ease;
    text-align: justify;
    z-index: 1;
    background-color: #f0f0f0;
    margin-top: 0px;
    margin-bottom: 0px;

    @include phone {
      font-size: 14px;
    }
  }
}

.arrow-icon {
  transform: rotate(90deg);
  width: 32px;
  height: 32px;
  margin-right: 10px;
  margin: 10px 20px 10px 0px;
  transform: rotate(90deg);
  transition: transform 0.5s ease;
}

.open {
  transform: rotate(-90deg);
  transition: transform 0.5s ease;
}



.discoverer--content {
    display: block;
}

/*--------------------------------------
/ lineup & lineDown classes and keyframes
---------------------------------------*/
.lineDown {
  animation: 1s anim-lineDown ease-out forwards;
}
@keyframes anim-lineDown {
  0% {
    opacity: 0;
    transform: translateY(-80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.lineUp {
  animation: 1s anim-lineUp ease-out forwards;
}
@keyframes anim-lineUp {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  20% {
    opacity: 1;
    transform: translateY(0%);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateY(-80%);
  }
}
