@import "../../assets/style/variables.scss";

.discoverer {
    border: 1px solid #ccc;
    margin-top: 24px;
    max-width: 1023px;
    background-color: #f6f6f6;

  
  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    background-color: #f0f0f0;
    background: var(--Red, $primary-color);
    color : $third-color;
    border-radius: 10px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    width: 100%;
    position: relative;
    z-index: 2;

    @include phone {
      height: 30px;
      font-size: 13px;
    }

    img {
      cursor: pointer;
    }

  }

    h3 {
      padding-left: 15px;
    }
  
  &--content {
    display: none;
    border-radius: 0 0 10px 10px;
    color: $primary-color;
    font-size: 24px;
    font-weight: 400;
    line-height: 25px;
    overflow: hidden;
    padding: 40px 20px;
    position: relative;
    transition: max-height 0.5s ease;
    text-align: justify;
    z-index: 1;
  }
}

.open img, .closed img {
  margin: 10px 20px 10px 0px;
  width: 32px;
  height: 32px;
}

.arrow-icon {
  transform: rotate(90deg);
}

.open .arrow-icon {
  transform: rotate(-90deg);
  transition: transform 0.5s ease;
}

.closed .arrow-icon {
  transform: rotate(90deg);
  transition: transform 0.5s ease;
}

.discoverer.open .discoverer--content {
    display: block;
}

/* lineup class and keyframes */
.lineUp {
  animation: 1s anim-lineUp ease-out forwards;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(-80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

