.card {
    width: $W-100;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
    max-width: 335px;

    @include desktop {
        margin-bottom: 0px;
        max-width: 340px;
    }

    @include largeDesktop {
        margin-bottom: 0px;
        max-width: 340px;
    }        
    &--article {
        width: $W-100;
        height: $H-100;
         }

        &--article__image {
            border-radius: 20px;
            position: relative;
            top: 0;
            left: 0;
            width:$W-100;
            height: $H-100;
            object-fit: cover;
        }

        &--article__title {
            color : $third-color;
            font-size: 18px;
            font-style: normal;
            font-weight: $Font-W500;
            line-height: 142.6%; /* 25.668px */
            position: absolute;
            top: 78%;
            left: 0;
            right: 0;
            padding: 0px 20px;
            margin: 0 auto;
            z-index: 1;

            @include desktop {
                top : 85%;
            }

        }

        &__location {
            position: absolute;
            color : $third-color;
            top: 92%;
            padding: 0px 20px;

        }

    a {
        color: #ff6060;
    }

    a:before {
        content: "";
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 20%, rgba(0, 0, 0, 0.5) 100%);
        position: absolute;
        border-radius: 20px;
        width: $W-100;
        height: $H-100;
        z-index: 1;
        transition: background 0.3s;
     }

   }

    @include desktop {
.card:hover {
    border-radius: 25px;
    animation: float 1s ease-in-out infinite;
    z-index :3;
}
    }

    @include largeDesktop {
        .card:hover {
            border-radius: 25px;
            animation: float 1s ease-in-out infinite;
            z-index :3;
        }
            }

