@import '../../assets/style/layout.scss';
/* -----------------------------
// Header                     /
----------------------------- */

header {
    display : $displayFlex;
    flex-direction : $flexDirectionRow;
    max-width: 1220px;
    margin : 45px auto 50px auto;



    nav {
    display: $displayFlex;
    flex-direction: $flexDirectionRow;
    justify-content: $alignItemsSpaceBetween;
    align-items: $alignItemsCenter;
    width: 100%;
    margin: auto;
    max-width: 1220px;

        ul {
            display: $displayFlex;
            gap : 30px;
        }

        a {
            text-align: right;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 142.6%; /* 34.224px */
        }

        a[aria-current="page"] { 
            text-decoration: underline; //Underline the active link inside the page
          }

        img {
            width: 210px;
            height: 68px;
        }
    }

 

}