@import '../../assets/style/layout.scss';
@import '../../assets/style/media-queries.scss';
@import '../../assets/style/animations.scss';

/* -----------------------------
// Header                     /
----------------------------- */
header {
    display: $displayFlex;
    justify-content: $alignContentCenter;
    width: $W-100;
    height: 46px;
    max-width: $max-W1240;
    margin: $margin0auto;
    margin-top: 20px;
    margin-bottom: 27px;

    @include desktop {
      margin-top: 45px;
      margin-bottom : 50px;
      height: 68px;
    }

    @include largeDesktop {
      margin-top: 45px;
      margin-bottom: 50px;
      height: 68px;
    }

      img {
        width: 145px;
        height: 47px;

        @include desktop {
        width: 210px;
        height: 68px;
        }

        @include largeDesktop {
        width: 210px;
        height: 68px;
        }

}
}

.container-header {
  display: $displayFlex;
  justify-content: $alignContentSpaceBetween;
  align-items: $alignItemsCenter;
  width: $W-100;
  max-width: $max-W1240;
  padding : $padding0-20 ;
}


.active:after {
  background: $primary-color;
  border-radius: 10px;
  bottom: 0;
  content: "";
  height: 3px;
  left: 50%;
  position: absolute;
  width: 0;
  transform: translateX(-50%);
  animation: underLink 500ms ease forwards;

  @include phone {
    height: 1px;
  }

  @include tablet {
    height: 2px;
  }
}


