@import '../../assets/style/layout.scss';
@import '../../assets/style/media-queries.scss';

/* -----------------------------
// Header                     /
----------------------------- */
header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 46px;
    max-width: 1240px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 27px;

    @include desktop {
      margin-top: 45px;
      margin-bottom : 50px;
      height: 68px;
    }

    @include largeDesktop {
      margin-top: 45px;
      margin-bottom: 50px;
      height: 68px;
    }

  //   @include tablet {
  //     padding: 20px 5.35% 0;
  //   }

  // @include desktop {
  //     margin-top: 45px;
  //     padding: 45px 6.95% 0;
  //   }

  //   @include largeDesktop {
  //     margin-top : 45px;
  //     padding: 45px 6.95% 0;
  //   }

      img {
        width: 145px;
        height: 47px;

        @include desktop {
        width: 210px;
        height: 68px;
        }

        @include largeDesktop {
        width: 210px;
        height: 68px;
        }

}
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1240px;
}


.active:after {
  background: $primary-color;
  border-radius: 10px;
  bottom: 0;
  content: "";
  height: 3px;
  left: 50%;
  position: absolute;
  width: 0;
  transform: translateX(-50%);
  animation: underLink 500ms ease forwards;

  @include phone {
    height: 1px;
  }

  @include tablet {
    height: 2px;
  }
}


@keyframes underLink {
  to {
    width: 100%;
  }
}