.nav-list {
    display: $displayFlex;
    flex-direction: $flexDirectionRow;
    gap: 26px;

        a {
            text-align: right;
            font-size: 12px;
            font-style: normal;
            font-weight: $Font-W500;
            line-height: 34px;
            position: relative;
            text-transform: uppercase;

            @include tablet {
                font-size: 24px;
            }

            @include desktop {
                font-size: 24px;
                text-transform: none;
            }

            @include largeDesktop {
                font-size: 24px;
                text-transform: none;
            }
        }
}