.nav-list {
    display: $displayFlex;
    flex-direction: $flexDirectionRow;
    gap: 26px;

        a {
            text-align: right;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 34px;
            position: relative;
            
            @include phone  {
                font-size: 12px;
                text-transform: uppercase;
            }
        }
}