.nav-list {
    display: $displayFlex;
    flex-direction: $flexDirectionRow;
    flex-wrap: nowrap;
    gap: 26px;

    ul {
            display: $displayFlex;
            gap : 57px;

            @include phone {
                gap: 26px;
            }
            
        }

        a {
            text-align: right;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 142.6%; /* 34.224px */
            position: relative;
            
            @include phone  {
                font-size: 12px;
                text-transform: uppercase;
            }
        }
}