@import "../../assets/style/layout.scss";
@import "../../assets/style/variables.scss";

//-----------------------------
// Footer                     /
//-----------------------------

footer {
    display: $displayFlex;
    flex-direction: $flexDirectionColumn;
    align-items: $alignItemsCenter;
    gap: 28px;
    margin-top: 50px;
    background-color: $secondary-color;
    width: 100%;

    @include phone {
        margin-top: 27px;
        padding : 66px auto 58px auto;
        gap: 0px;

    }


    img {
        width: 122px;
        height: 39px;
        margin-top: 56px;
    }
}

.footer--p {
    color : $third-color;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 34.224px */
    margin-bottom: 29px;

    @include phone {
        text-align: center;
        font-size: 12px;
        width: 130px;
        height: 46px;
        padding-top: 10px;
    }
}
