@import "../../assets/style/layout.scss";
@import "../../assets/style/base.scss";

//-----------------------------
// Footer                     /
//-----------------------------

footer {
    display: $displayFlex;
    flex-direction: $flexDirectionColumn;
    align-items: $alignItemsCenter;
    gap: 28px;
    margin-top: 27px;
    background-color: $secondary-color;
    width: $W-100;
    gap : 0px;

    @include tablet {
        width: $W-100;
        margin-top: 50px;
    }

    @include desktop {
        width: $W-100;
    }

    @include largeDesktop {
        width: $W-100;
    }


    img {
        width: 122px;
        height: 39px;
        margin-top: 56px;
    }
}

.footer--p {
    color : $third-color;
    font-size: 24px;
    font-style: normal;
    font-weight: $Font-W500;
    line-height: 34px;
    margin-bottom: 29px;
}