//-----------------------------
// Homepage
//-----------------------------
.home-background--image {
    width: 1240px;
    height: 223px;
    display: $displayFlex;
    justify-content: $alignContentStart;
    object-fit: cover;
    border-radius: 25px;
    margin: 0px auto;
    position: relative;
    border: 1px black solid;
    mix-blend-mode: darken;
    opacity: 0.6;
}

    .home-background--title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;

    }

//-----------------------------
// Cards Gallery on Homepage
//-----------------------------

.card-container {
    display : $displayGrid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: start;
    background-color: #F6F6F6;
    column-gap: 50px;
    max-width: 1220px;
    margin: 56px auto 43px auto;
    padding-top: 56px;
    padding-bottom: 43px;
    border-radius: 10px;

   .card {
        width: 340px;
        height: 340px;
        border-radius: 10px;
        margin-bottom: 50px;
        position: relative;

        &--article {

            &__image {
                width: 340px;
                height: 340px;
                border-radius: 10px;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
            }

            &__title {
                color : $third-color;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 142.6%; /* 25.668px */
                position: absolute;
                top: 85%;
                left: 0;
                right: 0;
                padding: 0px 20px;
                margin: 0 auto;
            }

            &__location {
                position: absolute;
                color : $third-color;
                top: 92%;
                padding: 0px 20px;

            }
        }
    }

}


//-----------------------------
// 404 error page
//-----------------------------

.errorpage {
    text-align: center;
    color : $primary-color;

    &--span {
    margin-top: 139px;
    font-size: 288px;
    font-style: normal;
    font-weight: 700;
    line-height: 142.6%; /* 410.688px */
    }

    &--info {
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 51.336px */

    }

    &--backtohome {
    margin: 139px 139px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 25.668px */
    text-decoration-line: underline;

    }
}
