@import '../../assets/style/variables.scss';
@import '../../assets/style/layout.scss';
@import '../../assets/style/media-queries.scss';

//-----------------------------
// Banner on homepage
//-----------------------------
.container-banner {
  display: flex;
  justify-content: center;
  width: 100%;

  @include desktop {
  }
}

.banner {
  width: 100%;
  max-width: 1240px;

  &--image {
    position: relative;

      @include phone {
        height: 111px;
        margin-top: 27px;
      }
    }

  &--text {
      width: 80%;
      position: absolute;
      bottom: 50%;
      transform: translatey(50%);
      margin: 0;
      text-align: center;
      display: $displayFlex;
      flex-direction: $flexDirectionRow;
      justify-content: $alignItemsCenter;
      gap: 5px;

      @include phone {
        flex-direction: column;
        justify-content: $alignItemsStart;
        text-align: left;
        font-size: 24px;
        font-style: normal; 
        line-height: 24px;
        padding-left: 16px;
        bottom: 40%;
      }

      @include tablet {
        flex-direction: $flexDirectionColumn;
        justify-content: $alignItemsStart;
        text-align: left;
        font-size: 42px;
        font-style: normal; 
        line-height: 100%; /* 24px */
        bottom : 20%
      }

      @include desktop {
        width: 100%;
      }
    }
}
  
.banner-home {
  width: 100%;
  max-width: 1440px;
  display: block;
  justify-content: center;
}

.banner-home img, .banner-about img {
    height: 223px;
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
    filter: brightness(0.6);
    

    @include phone {
      height: 111px;
    }
  }





  .slide {
    position: relative;
    opacity : 0;
    animation : slideIn 1s ease 1s forwards;
  }

  @keyframes slideIn {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }