@import '../../assets/style/variables.scss';
@import '../../assets/style/layout.scss';
@import '../../assets/style/media-queries.scss';

//-----------------------------
// Banner on homepage
//-----------------------------
.container-banner {
  display: flex;
  justify-content: center;
  width: 100%;
}

.banner { 
  width: 100%;
  position: relative;

  &--image {

    // margin-top: 27px;

    // @include desktop {
    //   margin-top: 27px;
    // }
  }

  &--text {
      position: absolute;
      display: $displayFlex;
      flex-direction: column;
      text-align: left;
      font-size: 24px;
      font-style: normal; 
      line-height: 24px; 
      padding-left: 30px;
      width: 100%;
      top: 50%; 
      left: 50%;
      transform: translate(-50%, -50%); 
      gap: 5px;
      animation : fadeIn 2000ms ease 1s forwards;
      opacity: 0;


      @include tablet {
        flex-direction: $flexDirectionColumn;
        justify-content: $alignItemsStart;
        text-align: left;
        font-size: 42px;
        font-style: normal; 
        line-height: 24px;
      }

      @include desktop {
        flex-direction: $flexDirectionRow;
        justify-content: $alignItemsCenter;
        text-align: center;
      }
    }
}
  
.banner-home {
  display: flex;
  justify-content: center;
  width: 100%;
}

.banner-home img, .banner-about img {
    height: 111px;
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
    filter: brightness(0.6);
    
    @include desktop {
      height: 223px;
    }
  }


  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }