@import '../../assets/style/base.scss';
@import '../../assets/style/layout.scss';
@import '../../assets/style/media-queries.scss';
@import '../../assets/style/animations.scss';

//-----------------------------
// Banner on homepage
//-----------------------------
.container-banner, .banner-home, .banner-about {
  display: $displayFlex;
  justify-content: $alignItemsCenter;
  width: $W-100;
}

.banner { 
  width: $W-100;
  position: relative;


  &--text {
      position: absolute;
      display: $displayFlex;
      flex-direction: $flexDirectionColumn;
      text-align: left;
      font-size: 24px;
      font-style: normal; 
      line-height: 24px; 
      padding-left: 30px;
      width: $W-100;
      top: 50%; 
      left: 50%;
      transform: translate(-50%, -50%); 
      gap: 5px;
      animation : fadeIn 2000ms ease 1s forwards;
      opacity: 0;


      @include tablet {
        flex-direction: $flexDirectionColumn;
        justify-content: $alignItemsStart;
        text-align: left;
        font-size: 32px;
        font-style: normal; 
        line-height: 24px;
      }

      @include desktop {
        flex-direction: $flexDirectionRow;
        justify-content: $alignItemsCenter;
        text-align: center;
        font-size: 48px;
      }

      @include largeDesktop {
        flex-direction: $flexDirectionRow;
        justify-content: $alignItemsCenter;
        text-align: center;
        font-size: 48px;
      }

    }
}
  
.banner-home, .banner-about{
  max-width: $max-W1240;
  margin: $margin0auto;
  margin-bottom: 22px;

  @include desktop {
    margin-bottom : 43px;
  }

  @include largeDesktop {
    margin-bottom: 43px;
  }
}



.banner-home img, .banner-about img {
    height: 111px;
    width: $W-100;
    border-radius: 25px;
    object-fit: cover;
    filter: brightness(0.6);
    max-width: $max-W1240 ;
    
    @include desktop {
      height: 223px;
    }

    @include largeDesktop {
      height: 223px;
    }
  }


